page-login {

    .right  {
        float: right;
    }

    .center {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .bg-image {
        background-image: url('../assets/imgs/login_bg.png');
        background-repeat: no-repeat;
        // background-size: 250%;  
        background-position: left;
    }

    .personalizedPosition {

        top: 27em;
    }

}
