
<ion-header>
  <ion-navbar class="favorite">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input> 
    </ion-item>

    <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <br>
    <br>

    <ion-buttons end>
        <button ion-button (click)="register()" color="light">Registrar</button>
        <button ion-button (click)="login(user)" color="secondary">Entrar</button>
    </ion-buttons>

    <br>

<h6>Mais opções:</h6>

    <br>

    <ion-fab middle center edge class="personalizedPosition">

        <button ion-fab><ion-icon name="add"></ion-icon></button>

        <ion-fab-list side="top">
            <button ion-fab color="facebook"><ion-icon name="logo-facebook" (click)="loginWithFacebook()"></ion-icon></button>
        </ion-fab-list>

        <ion-fab-list side="right">
            <button ion-fab color="twitter"><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>

        <ion-fab-list side="bottom">
            <button ion-fab color="vimeo"><ion-icon name="logo-vimeo"></ion-icon></button>
        </ion-fab-list>

        <ion-fab-list side="left" *ngIf="(usr | async) || {} as usr"> 
            <button ion-fab color="googleplus" *ngIf="!usr.uid" (tap)="googleLogin()">
            <ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>

    </ion-fab>

</ion-content>
