page-home {

    .bg-image {
        background-image: url('../assets/imgs/movie-icon-15142.png');
        background-repeat: no-repeat;
        background-size: 50%;  
        background-position: center;

    }
}
