
page-feed {

    .bg-style {
        background: #e4e2e1;
    }
    
    h2.feed_title {
        color: rgb(179, 42, 32);
        font-weight: bold;
    }
    
    p.feed_date {
        color:  rgb(70, 74, 80);
        font-weight: normal;
    }
}
